<h1>New Post from <%= @chapter.journal.title %></h1>

<h3>
  <%= @chapter.title %>
  <%= link_to "Read Now!", "https://www.ventur.co/chapter/#{@chapter.id}" %>
</h3>

<%= image_tag(@chapter.banner_image_url) %>


<p>If you would like to unsubscribe from these emails write heyitsus@ventur.co</p>
